# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
# dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Pytest
.cache
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Environment variables
.env
.env.*
.venv/
venv/
ENV/
env/
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Secret files
secrets.json
config.json

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Test output
test-results/

# System files
*.swp
*.swo
*~

staticfiles-dir/